.design-project
  padding-bottom: 20rem
  &__description
    display: flex
    justify-content: center
    margin-bottom: 1.5rem

.description
  &__text
    max-width: 51rem
    font-family: 'Futura Book', sans-serif
    font-weight: normal
    font-size: 1.4rem
    line-height: 1.9rem
    text-align: center
    color: $dark