.design-project
  padding-bottom: 30rem
  &__description
    display: flex
    justify-content: center
    margin-bottom: 1.5rem

.description
  &__text
    max-width: 43rem
    font-family: 'FuturaBookC', sans-serif
    font-weight: normal
    font-size: 1rem
    line-height: 1.7rem
    text-align: center
    color: $dark