.footer
  background: url('../img/footer-bg.jpg') no-repeat center / cover
  position: relative
  z-index: -3
  &::before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    background:  rgba(24, 24, 24, 0.5)
    z-index: -1
  &__wrap
    background: url('../img/bg_lines.svg') no-repeat center
    background-color: $black
    max-width: 45rem
    margin: auto
    margin-bottom: 3rem
    margin-top: -15rem
    padding: 1rem
  &__title
    margin-bottom: 1rem
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 1.1rem
    text-align: center
    text-transform: uppercase
    color: $light
    &--primary
      margin: auto
      max-width: 28rem
      font-weight: normal
      font-size: 1.2rem
      line-height: 1.5rem
      text-align: center
      text-transform: uppercase
      color: $primary
  &__form
    display: flex
    flex-wrap: wrap
    max-width: 28rem
    margin: auto
    justify-content: space-between
    &_label
      font-size: 0.8rem
  &__input
    font-size: 0.8rem
  &__input-group
    display: flex
    flex-direction: column
    flex-basis: 45%
    margin-bottom: 2rem
    &--full-width
      flex-basis: 100%
      margin-bottom: 1rem
  &__policy
    flex-basis: 100%
    margin-bottom: 3rem
  &__button
    margin: auto
    padding: 1rem 3rem
  &-menu
    background-color: $dark
    padding: 2rem 0
  &__map
    display: flex
    justify-content: center
    margin-bottom: 4rem
  &__links
    display: flex
    justify-content: center
    align-items: center
  &-link
    margin-top: 2rem
    margin-bottom: 2rem
    height: 2rem
    width: 2rem
    &__email
      background: url('../img/footer_icon_email.svg') no-repeat center
      margin-right: 1rem
    &__inst
      background: url('../img/footer_icon_inst.svg') no-repeat center
    