.types
  &__section-title
    margin-bottom: 1.6rem
  
.row
  display: flex
  align-items: flex-start
  justify-content: space-around

.col
  flex-basis: 32%

.card

  &__text
    position: relative
    margin: 0 auto
    margin-top: -8rem
    padding-top: 1.79rem
    padding-left: 2.14rem
    max-width: 23rem
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
    background-color: $light

  &__title
    margin-top: 0
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 1.28rem
    line-height: 1.78rem

  &__list
    margin: 0
    padding: 0 0 4.5rem 1rem
    font-family: FuturaBookC
    font-weight: normal
    font-size: 1.07rem
    line-height: 1.78rem
    color: $secondary

  &__pricetag
    position: absolute
    left: 0
    bottom: -1.78rem
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 1.28rem
    line-height: 1.78rem
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 1.214rem 1.285rem


  
